.CheckBox_label .label {
    font-size: none;
    -fx-font-size: 30px;
    font-weight: none;
    -fx-font-weight: bold;
    -fx-text-fill:rgb(223, 192, 20);
}

.tableCheckbox .label
{
    font-size: none;
    -fx-font-size: 20px;
    font-weight: none;
    -fx-font-weight: bold;
    -fx-text-fill:rgb(223, 192, 20);
}

.CheckBox
{
    background-color: none;
   -fx-background-color: linear-gradient(to bottom, #063f33 , #0cac89 );;
   -fx-background-radius: 25px;
   border-color: none;
   -fx-border-color:rgb(214, 211, 12);
   border-radius: none;
   -fx-border-radius: 25px;
   
}

.choice-box .menu-item {
    background-color:none ;
    -fx-background-color: linear-gradient(to bottom, #1d0957, #09136ee0);;
    border-color: none;
    -fx-border-color:white;
    font-size: none;
    -fx-font-size: 25px;
}

